@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kantumruy+Pro:ital@0;1&family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* to add style to task card */

.task-card {
  transition: all 0.3s ease-in-out;
}

.task-card:hover {
  transform: scale(1.05);
}
